<span
  id="VERIFY_1199953geweHa0i_HASH"
  class="DO_NOT_REMOVE_OR_COPY_AND_KEEP_IT_TOP ng-scope"
  style="display:none;width:0;height:0;position:fixed;top:-10px;z-index:-10"
></span>
<div class="row ng-scope" id="XPHCXPIMY">
  <div class="column" id="KSLKKLXWE">
    <div class="block" id="JPWWZCUNF">
      <div
        class="text tt2 cke_editable_inline cke_contents_ltr"
        contenteditable="false"
        style="position: relative;"
        title="Rich Text Editor, editor8"
      >
        <p>&nbsp;</p>

        <p>
          <span
            style="--darkreader-inline-color:#fbffff; color: rgb(240, 255, 255);"
            data-darkreader-inline-color=""
            ><span
              style="--darkreader-inline-bgcolor:#000000; background-color: rgb(0, 0, 0);"
              data-darkreader-inline-bgcolor=""
              >TECHNOLOGIES</span
            ></span
          >
        </p>

        <p>
          <span
            style="--darkreader-inline-color:#fbffff; color: rgb(240, 255, 255);"
            data-darkreader-inline-color=""
            ><span
              style="--darkreader-inline-bgcolor:#000000; background-color: rgb(0, 0, 0);"
              data-darkreader-inline-bgcolor=""
              >Programming Language : PHP, MySQL, CSS, HTML, Javascript</span
            ></span
          >
        </p>

        <p>
          <span
            style="--darkreader-inline-color:#fbffff; color: rgb(240, 255, 255);"
            data-darkreader-inline-color=""
            ><span
              style="--darkreader-inline-bgcolor:#000000; background-color: rgb(0, 0, 0);"
              data-darkreader-inline-bgcolor=""
              >Framework : Codeigniter</span
            ></span
          >
        </p>

        <p>
          <span
            style="--darkreader-inline-color:#fbffff; color: rgb(240, 255, 255);"
            data-darkreader-inline-color=""
            ><span
              style="--darkreader-inline-bgcolor:#000000; background-color: rgb(0, 0, 0);"
              data-darkreader-inline-bgcolor=""
              >Library : Bootstrap, jQuery, Animate.css, DataTable</span
            ></span
          >
        </p>
      </div>
      <span class="movehandle"></span><span class="confhandle"></span>
    </div>
  </div>
</div>

<div class="row ng-scope" id="EATOOAIDN">
  <div class="column" id="JLYKPTJON">
    <div class="block" id="MMFWTXJNP">
      <div class="spacing" data-vivaldi-spatnav-clickable="1">&nbsp;</div>
      <span class="movehandle"></span><span class="confhandle"></span>
    </div>
  </div>
</div>

<div class="row ng-scope" id="CPKGBLLTI">
  <div class="column" id="JYIOQTKKW">
    <div class="block" id="YAJMPGEMP">
      <div class="spacing" data-vivaldi-spatnav-clickable="1">&nbsp;</div>
      <span class="movehandle"></span><span class="confhandle"></span>
    </div>
  </div>
</div>
