<template>
  <div class="post-page">
    <post-list/>
  </div>
</template>
<script>
export default {};
</script>
<style scoped>
.post-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
